html {
    font-size: 10px;
    background: url("./background.jpg");
    background-size: cover;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.keys {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.key {
    color: white;
    border: 3px solid black;
    border-radius: 1rem;
    margin: 5px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    width: 50px;
}

kbd {
    display: block;
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
}

span {
    color: gold;
}

